@media(max-width:297px){
	body{
		display:none;
	}

}
@media (min-width:298px){
	:root{
		--first-color1:#281259; /*main background color*/
		--first-color2:#341773; /*secondary color*/
		--second-color1:#6B71F2;
		--btn-txtcolor1:white;
		--btn-bgcolor1:#5433FF;
		--btn-bgcolor2:#20BDFF;
		--call-to1:#EC008C;
		--call-to2:#faa0cd;
		--third-color1:#E2BD00;
		--third-color2:#FFE610;
	}
	*{
		box-sizing:border-box;
	}
	.math{
		display:flex;
		flex-direction:column;
		gap:1em;
	}
	#currency{
		background-color:var(--bg-color1);
		color:white;
		font-family:'Poppins', sans-serif;
		margin:1.5em 0;
		padding:0.3em 0.67em;
		border:solid 1px white;
	}
	legend, p, label{
		color:white;
		font-family:'Poppins', sans-serif;
	}
	p, select{
		font-size:0.67rem;
	}
	label{
		font-size:0.5rem;
	}
	select{
		width:100%;
		font-family:'Poppins', sans-serif;
		color:white;
		background-color:var(--btn-bgcolor1);
		border:solid 1px white;
		padding:1em 0.75em;
	}
	label{
		font-family: 'Poppins', sans-serif;
		font-weight:700;
	}
	fieldset{
		padding:1em 1em;
		border:solid 1px white;
	}
	.F-A{
		display:flex;
		flex-direction:column;
		gap:2em;
	}
	legend{
		font-weight:700;
		background:linear-gradient(var(--btn-color1), var(--btn-color2));
		padding:0.5em 0.5em;
		font-size:1rem;
		border:solid 2px white;
	}

	html{
		font-size:100%;
	}
	body{
		padding:0;
		margin:0;
		background-color:var(--first-color1);
	}
	.from{
		padding:5em 2em;
	}
	form{
		margin:50px auto;
		display:flex;
		width:100%;
		border-radius:20px;
		min-width:100px;
		max-width:260px;
		flex-direction:column;
		border-radius:10px;
		padding:2em 2em;
		gap:0.85em;
		box-shadow:0 3px 30px black;
	}
	fieldset{
		width:100%;
		min-width:100px;
		max-width:260px;
	}
	.img-firs{
		display:flex;
		flex-direction:column;
	}
	h1{
		color:white;
		font-family:'Poppins',sans-serif;
		font-weight:700;
		font-size:0.8rem;
		text-align:center;
	}
	.jupiter{
        max-width:200px;
        
    }
	.input-elements{
		display:flex;
		flex-direction:column;
		gap:1em;
	}
	input{
		width:100%;
		background-color:var(--bg-color1);
		height:32px;
		border:solid 0.8px white;
		padding:1em 0.75em;
		color:white;
		font-family:'Poppins',sans-serif;
		font-weight:200;
		font-size:0.56rem;
		font-weight:400;
		font-size:0.5rem;
	}
	.container{
        font-family:'Poppins', sans-serif;
        font-size:0.5rem;
        color:white;
		align-items:center;
		margin:1em auto;
		text-align: center;
		background-color:var(--btn-bgcolor1);
		border:solid 2px var(--btn-bgcolor2);
		padding:1em 1em;
		border-bottom-right-radius:10px;
		border-top-left-radius:5px;

    }
	input:focus{
		background-color:white;
		color:var(--bg-color1);
		box-shadow:1px 0 15px black;
	}
	label{
		color:white;
		font-family:sans-serif;
	}
	.remember-me{
		display: flex;
		flex-direction:row;
		gap:0.2em;
		margin:0.5em 0;
	}
	.center{
		text-align:center;
	}
	input[type="submit"]{
		padding:0.5em 1.5em;
		background:linear-gradient(90deg,var(--call-to1), var(--call-to2));
		display:block;
		margin:0 auto;
		height:unset;
		color:white;
		border:solid 2px white;
		width:100%;
		font-weight: 700;
	}
	input[type="checkbox"]{
		background-color:var(--btn-color1);
		width:unset;
		height:unset;
	}	
	input[type="submit"]:hover{
		background:white;
		color:deeppink;
		cursor:pointer;

	}
	.correct{
		color:white;
	}
	.error-msg{
		color:deeppink;
		font-size:0.29rem;
		font-family:'Poppins', sans-serif;
		line-height:2em;
		font-weight:500;
		text-align:left;
	}
	.last-line{
		display:flex;
		flex-direction:column;
		color:white;
		gap:1em;
		justify-content:center;
		align-items:center;
	}
	.copyright{
		font-family:'Poppins',sans-serif;
		font-weight:500;
		font-size:0.5rem;
	}
	.new-user{
		font-family:'Poppins',sans-serif;
		font-weight:500;
		font-size:0.4rem;
	}
	a.new-acc{
		font-family:'Poppins',sans-serif;
		font-weight:500;
		color:white;
	}
	.msg{
		color:var(--btn-color2);
		font-family:'Poppins', sans-serif;
		font-weight:500;
		font-size:0.8rem;
		text-align:center;
	}
}
@media (min-width:400px){
	form, fieldset{
		max-width:360px;
	}
	h1{
		font-size:1rem;
	}
	.new-user{
		font-size:0.5rem;
	}
	label{
		font-size:0.67rem;
	}
}
@media (min-width:600px){
	input{
		font-size:0.67rem;
	}
	.error-msg{
		font-size:0.33rem;
	}
	.container{
		font-size:1rem;
	}
}
@media (min-width:1000px){
	form, fieldset{
		max-width:500px;
	}
	input{
		font-size:0.8rem;
		height:40px;
	}
	.error-msg{
		font-size:0.5rem;
	}
}
