<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/tutorials.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gajraj+One&family=Gloock&family=Inter:wght@100;200;300;900&family=Montserrat:wght@700&family=Open+Sans:wght@300&family=Poppins:wght@400;500;900&family=Questrial&family=Roboto:ital,wght@0,900;1,700&family=Source+Serif+Pro:ital,wght@1,600&family=Urbanist:wght@800&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static',filename='script/animations.js')}}"></script>
	<title>Créer l' interface d' une calculatrice avec HTML5 & CSS3 | Frame Genesis</title>
</head>
<body>
	<main>
		<h1 class="tuto-title">Créer l' interface d' une calculatrice avec HTML5 & CSS3</h1>
		<section class="contain-all">
			<section class="tuto">
			<h1 class="sts-hds">1. Informations Générales</h1>
			<div class="tut-line">
				<div class="pre">
					<h2 class="tut-head">Prerequis</h1>
					<ul class="tut-pts">
						<li>Savoir créer un document HTML5</li>
						<li>Effectuer les contrôles de base avec CSS3</li>
						<li>Connaître les propriétés basiques de CSS3</li>
					</ul>
				</div>
				<div class="objec">
					<h2 class="tut-head">Objectifs</h1>
					<ul class="tut-pts">
						<li>Maîtriser l' usage des balises &ltdiv&gt</li>
						<li>Comprendre le système des couleurs avec CSS3</li>
						<li>Comprendre l' utilité des classes</li>
						<li>Comprendre l' utilité des attributs id</li>
						<li>Savoir comment contrôler les dimensions des éléments HTML avec les propriétés CSS width et height</li>
					</ul>
				</div>
				<div class="concepts">
					<h2 class="tut-head">Concepts Fondamentaux</h1>
					<ul class="tut-pts">
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi9gYOK0YP-AhWygf0HHSPtDBYQFnoECBgQAw&url=https%3A%2F%2Fdeveloper.mozilla.org%2Ffr%2Fdocs%2FWeb%2FHTML%2FElement%2Fbutton&usg=AOvVaw2TMxqq2B7xQayX_ddGyKwP" target="_blank">HTML5 | &ltbutton&gt</a></li>
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjy-oGY0YP-AhW_h_0HHfC-AIQQFnoECDoQAw&url=https%3A%2F%2Fblog.hubspot.fr%2Fwebsite%2Fdiv-html&usg=AOvVaw0zbR6kdrmEA7U-108D6TqJ" target="_blank">HTML5 | &ltdiv&gt</a></li>
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjLmKaw0YP-AhWth_0HHQtoBhcQFnoECAkQAw&url=https%3A%2F%2Fdeveloper.mozilla.org%2Ffr%2Fdocs%2FWeb%2FHTML%2FGlobal_attributes%2Fclass&usg=AOvVaw0qBims6iFIKMq7-SWI_Xya" target="_blank">HTML5 | class</a></li>
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjh4rvI0YP-AhVshf0HHTdBCu4QFnoECBsQAQ&url=https%3A%2F%2Fwww.oujood.com%2Fbalises%2FHTML-attribut-disabled-balise-input.php&usg=AOvVaw0IewkklD_bg4YzZ02twuEb" target="_blank">HTML5 | disabled</a></li>
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjwwIPg0YP-AhW3_rsIHVTLDjQQFnoECAsQAQ&url=https%3A%2F%2Ftutowebdesign.com%2Fselecteur-multiple-css.php&usg=AOvVaw1f4-6-se-kC804SiuVgAN8" target="_blank">HTML5 | Sélecteurs classes multiples</a></li>
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwig3bOV0oP-AhXMi_0HHSK6CvwQFnoECA0QAw&url=https%3A%2F%2Fdeveloper.mozilla.org%2Ffr%2Fdocs%2FWeb%2FHTML%2FGlobal_attributes%2Fid&usg=AOvVaw0gdTfa9k4vL-tMNczQxWST" target="_blank">HTML5 | id</a></li>
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiC-JS20oP-AhVvhv0HHZHIDLMQFnoECAsQAw&url=https%3A%2F%2Fwww.zonecss.fr%2Fproprietes-css%2Flinear-gradient-css-fonction.html&usg=AOvVaw2DWL0n8ngjdBG-ubOdKCP_" target="_blank">CSS3 | Linear-gradient</a></li>
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjcmLPJ0oP-AhWQhf0HHfHmC5IQFnoECBgQAQ&url=https%3A%2F%2Fweb-color.aliasdmc.fr%2Fcouleurs-hexa-rgb-hsl-predefini-html-css.php&usg=AOvVaw12UvhUOLCejsTI-mRf-SuO" target="_blank">CSS3 | Système de couleurs</a></li>
						<li><a href="https://developer.mozilla.org/fr/docs/Web/CSS/width" target="_blank">CSS3 | width</a></li>
						<li><a href="https://developer.mozilla.org/fr/docs/Web/CSS/margin" target="_blank">CSS3 | margin</a></li>
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi78JOpy_z9AhWei_0HHbyPAMUQFnoECA4QAw&url=https%3A%2F%2Fwww.zonecss.fr%2Fproprietes-css%2Fpadding-css.html&usg=AOvVaw0s1YLDwqAYxisvL1v9XP0g" target="_blank">CSS3 | padding</a></li>
						<li><a href="https://developer.mozilla.org/fr/docs/Web/CSS/border-radius" target="_blank">CSS3 | borders</a></li>
					</ul>
				</div>
				<div class="concepts">
					<h2 class="tut-head">Recommandations</h1>
					<ul class="tut-pts">
						<li>Unités de mesure: pixels(px) pour les dimensions, point(pt) pour la typographie</li>
						<li>Dimensions: Calculatrice: 300px pour Desktop, 275px pour Smartphone en longueur(width)</li>
						<li>Editeurs de texte: Sublime Text 3 ou VS Code</li>
						<li>Navigateurs: Chrome <strong class="version">v84+</strong>, Mozilla Firefox <strong class="version">v63+</strong>, Microsoft Edge <strong class="version">v84+</strong></li>
					</ul>
				</div>
			</div>
			<section class="steps">
				<h1 class="sts-hds">2. Etapes de conception</h1>
				<div>
					<figure class="steps-exp">
						<figcaption class="steps-head">a)Analyser le design de la calculatrice</figcaption>
						<img src="{{url_for('static', filename='media/main.png') }}" alt="" loading="lazy" class="illustration">
						<p class="steps-exp-par">
							Le design est votre guide. Votre rôle en tant que développeur est principalement de résoudre un problème, de prospecter les différentes possibilités. Vous ne devriez jamais vous lancer directement et commencer à coder . A chaque fois avant de monter sur la machine et  écrire du code veuillez prendre le temps de réaliser un <strong>Wireframing</strong>. Cette technique consiste à réaliser une <strong>esquisse sur papier</strong> afin de voir l' organisattion des différents blocs. Vous trouverez plus d' infos <a href="https://www.google.com/url?sa=t&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiCnaPb6fz9AhUXhP0HHfplDsYQFnoECA0QAQ&url=https%3A%2F%2Fwww.usabilis.com%2Fdefinition-wireframe%2F&usg=AOvVaw3Q7WXRNrnpdEQ1Or-1gMIo" class="usefool-links" target="_blank">ici</a>
						</p>
						<p class="steps-exp-par">
							On constate que la <strong>calculatrice</strong> est divisée en <strong>deux (2)</strong> parties principales à savoir <strong>l' écran d' affichage</strong> et les <strong>différents boutons</strong>. A partir de cela on peut effectuer une <strong>esquisse mentale</strong> en HTML5 de la structure de notre <strong>calculatrice</strong> 
						</p>
					</figure>
				</div>
				<div>
					<figure class="steps-exp">
						<figcaption class="steps-head">b) Mettre en place les balises HTML5 de base</figcaption>
						<p class="steps-exp-par">
							<ul class="tut-pts">
								<li>
									Commencez par mettre les balises HTML de base, dont entre autres la balise !DOCTYPE html qui est la balise la plus importante, c' est cette balise qui permet à votre navigateur de savoir qu' il s' agit d' un site web. A côté de cette balise vous ajouter la balise html qui est votre page elle même cette balise contiendra les éléments fondamentaux qui composent le site.
								</li>
								<li>
									Ajouter à l' intérieur de votre balise html deux (2) autres balises fondamentales à savoir les balises head et body. Dans la balise head, ajouter deux <strong>balises meta</strong>, celle-ci permettent aux navigateurs de détecter l' encodage des caractères et les dimensions de notre fenêtre de navigation. Ensuite, dans la même balise, on ajoute le <strong>lien de notre fichier CSS</strong> qui va styler notre document HTML ou notre site web si vous voulez et aussi une <strong>balise title</strong> qui va nous aider à donner un titre à notre page. Pour plus d' infos visiter cette <a href="https://www.google.com/url?sa=t&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwju-Ivfl_39AhW48LsIHQ65Cv8QFnoECAsQAQ&url=https%3A%2F%2Fwww.hostinger.fr%2Ftutoriels%2Fstyle-css&usg=AOvVaw3ox1DDW_18B-lU1rKZ_xks" class="usefool-links" target="_blank">page</a>. 
								</li>
							</ul>
						</p>
					</figure>
				</div>
				<div>
					<figure class="steps-exp">
						<figcaption class="steps-head">c) Créer la structure de notre jolie calculatrice avec HTML5</figcaption>
						<p class="steps-exp-par">
							Maintenant, il est temps de donner <strong>forme</strong> à notre <strong>calculatrice</strong>. Revenons à notre <strong>balise body</strong>. Dans cette <strong>balise</strong> qui constitue le corps de notre <strong>calculatrice</strong>, on va concevoir <strong>cinq (5) balises &ltdiv&gt</strong> qui représentent <strong>les cinq lignes</strong> de notre calculatrice dont <strong>l' écran d' affichage</strong>. Ces <strong>balises</strong> seront crées dans la balise la balise qui a pour identité 'calculator' (&ltdiv id="calcualtor"&gt)   
						</p>
						<img src="{{url_for('static', filename='media/div.png') }}" loading="lazy" class="illustration">
						<p class="steps-exp-par">
							On constate que chaque <strong>balise &ltdiv&gt</strong> contient les chiffres et les opérateurs de notre calculatrice et que chacune des <strong>balises</strong> contient un <strong>attribut html class="row"</strong>, qui signifie ligne en anglais et dans notre cas sert à <strong>modéliser</strong> les différentes lignes de notre <strong>calculatrice</strong>.  
						</p>
						<p class="steps-exp-par">
							Notez que les classes sont choisies à <strong>tritre arbitraire</strong>. Cependant, vous devriez veillez à ne pas faire d' erreur lorsque vous <strong>appelez</strong> une classe dans votre <strong>fichier CSS</strong> car un <strong>simple point</strong> en plus ou en moins peut vous faire tout rater. Aussi veuillez <strong>ignorer</strong> l' <strong>attribut onclick</strong> pour le moment. Il s' agit en effet d' un attribut ou <strong>event trigger</strong> du language Javascript qui contient le code <strong>régissant</strong> le fonctionnement de <strong>notre calculatrice</strong>. Ci-dessous vous avez le <strong>output</strong> de notre code HTML5.
						</p>
						<img src="{{url_for('static', filename='media/tuto22.png') }}" alt="" loading="lazy" class="illustration">
					</figure>
				</div>
				<div>
					<figure class="steps-exp">
						<figcaption class="steps-head">d)Finaliser notre calculatrice</figcaption>
						<p class="steps-exp-par">
							Nous allons <strong>améliorer</strong> notre <strong>calculatrice</strong> en <strong>trois</strong> étapes.
						</p>
						<p class="steps-exp-par">
							<ul class="tut-pts">
								<li>
									Nous allons commencer par <strong>sélectionner</strong> la calculatrice au complet grâce à son identifiant <strong>#calculator</strong>. Nous <strong>remanions les dimensions(width et height)</strong>, ensuite on <strong>arrondit</strong> les <strong>bords de la calculatrice à 5px</strong>. On crée un <strong>un espace de 20px</strong> tout autour des bords de la calculette (padding:20px). Puisqu' on voudrait que notre calculatrice soit au <strong>centre</strong> de notre <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj9z7S20IP-AhURVKQEHfgqB5gQFnoECAoQAw&url=https%3A%2F%2Fwww.codeur.com%2Ftuto%2Fcreation-de-site-internet%2Fbalise-viewport-mise-en-page-mobile%2F&usg=AOvVaw2lQQxKePkF__QXBiOxDsiW" class="usefool-links">viewport*</a> on place une <strong>marge de 200px entre le haut et le bas</strong> et une <strong>marge automatique</strong> entre la droite et la gauche(margin:200px auto).
								</li>
							</ul>
							<code>
								<pre>
#calculator {
        width: 300px;
        margin: 50px auto;
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin:200px auto;
        background-color: rgb(1, 0, 42);
        box-shadow:0 6px 30px rgb(0, 255, 128);
      }
								</pre>
							</code>
						</p>
						<img src="{{url_for('static', filename='media/tuto44.png')}}" alt="" loading="lazy" class="illustration">
						<p class="steps-exp-par">
							Veuillez visiter cette <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjuiMrP0IP-AhXGh_0HHQ0_Cg8QFnoECA0QAw&url=https%3A%2F%2Fdeveloper.mozilla.org%2Ffr%2Fdocs%2FWeb%2FCSS%2Fmargin&usg=AOvVaw3-KFiY3QDoCa3d_J19-e5P" class="usefool-links">page</a> afin de mieux comprendre les marges en CSS 
						</p>
					</figure>
				</div>
				<div>
					<figure class="steps-exp">
						<figcaption class="steps-head">
							<p class="steps-exp-par">
							<ul class="tut-pts">
								<li>
									On constate dans le <strong>output</strong> ci-dessus que les <strong>boutons</strong> sont <strong> assez</strong> mal organisés et que <strong>personne n' aura</strong> envie d' utiliser notre <strong>calculatrice</strong>. Il faudrait arranger ça avec CSS!
								</li>
							</ul>
							<p class="steps-exp-par">
								Pour ce faire on crée <strong>deux sélecteurs</strong> de classes:
							</p>
							<ul class="tut-pts">
								<li>
									Un sélecteur <strong>.button</strong> qui <strong>vise</strong> tous les <strong>boutons</strong>. Dans cette <strong>première classe</strong> on définit d' abord la <strong>taille</strong> de la police à <strong>20px</strong> et on crée un <strong>espace de 10px haut-bas et 20px gauche-droite</strong>. Ensuite, on modifie l' arrière plan à une couleur réglée à <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjGrbzg0IP-AhUfgv0HHTjIB2IQFnoECBYQAw&url=https%3A%2F%2Folivierschmitt.fr%2Fcode-hexadecimal-des-couleurs-css%2F&usg=AOvVaw0TNM95MoDEMwEQtLyGNFx0" class="usefool-links">HEX: #4CAF50</a> sans oublier la <strong>couleur du texte</strong> à <strong>HEX:#fff</strong>. Enfin on retire <strong>les bordures</strong> avec la propriété <strong>border</strong> réglée à none.
								</li>
								<li>
									Un sélecteur <strong>.button.red</strong> qui <strong>vise</strong> spécifiquement le <strong>bouton avec la classe red</strong>. Ici on modifie juste <strong>l' arrière plan</strong> à la couleur en format HEX:#f44336.
								</li>
								<li>
									N' oubliez pas de styler votre <strong>écran d' affichage</strong> en créant un sélecteur <strong>#display</strong> et en modifiant la <strong> propriété css background</strong> à <strong>linear-gradent(linear-gradient(140deg, rgb(36, 0, 213), rgb(17, 0, 100)))</strong>. Aussi veuillez ajouter <strong>une marge vers le bas</strong> de <strong>10px</strong> entre vos <strong>différentes lignes</strong> en créant un sélécteur <strong>.row</strong>.
								</li>
								<li>
									Afin de faire <strong>réagir</strong> vos <strong>boutons</strong> lorsque l' utilisateur <strong>clique</strong> la dessus, vous pouvez ajouter deux <strong>sélecteurs CSS complexes:</strong>.  
								</li>
								<li>
									.button:hover vous pouvez ici définir de nouveaux <strong>styles</strong> tels que <strong>changer la couleur de l' arrière plan</strong> lorsque l' utlisateur pointe sa souris.  
								</li>
								<li>
									.button.red:hover vous pouvez définir également de nouveaux <strong>styles</strong> tels que <strong>changer la couleur de l' arrière plan</strong> lorsque l' utlisateur pointe sa souris.  
								</li>
							</ul>   
							<code>
								<pre>
   body {
        font-family: Arial, sans-serif;
        background-color:rgb(1, 0, 42);
      }
      #display{
        background:linear-gradient(140deg, rgb(36, 0, 213), rgb(17, 0, 100));
        border:1px solid rgb(67, 31, 242);
        color:white;
        font-size:12pt;
      }

 .row {
        margin-bottom: 10px;
      }
      .button {
        font-size: 20px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .button.red {
        background-color: #f44336;
      }
      .button.red:hover {
        background-color: #c62828;
      }	
  						</pre>
							</code>
						</p>
						</figcaption>
						<img src="{{url_for('static', filename='media/main.png')}}" alt="" loading="lazy" class="illustration">
					</figure>
				</div>
				<div class="objec">
					<h2 class="tut-head">Allez plus loin</h1>
					<ul class="tut-pts">
						<li><a href="https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox" target="_blank">CSS flexbox</a></li>
						<li><a href="https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox" target="_blank">Autres input HTML5</a></li>
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiA--fknP39AhUki_0HHUlYANgQFnoECAoQAQ&url=https%3A%2F%2Fdeveloper.mozilla.org%2Ffr%2Fdocs%2FWeb%2FCSS%2FCSS_Selectors&usg=AOvVaw1WJakSQzDFqgibcfGiXC7O" target="_blank">Sélecteurs CSS</a></li>
						<li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjEzo2Jm_39AhXDy7sIHaWTDp0QFnoECAwQAQ&url=https%3A%2F%2Fdeveloper.mozilla.org%2Ffr%2Fdocs%2FWeb%2FHTML%2FAttributes&usg=AOvVaw2W4iaEqVkXiYsLCYkCHWfK" target="_blank">Autres attributs HTML5</a></li>
					</ul>
				</div>
			</section>
			<img src="{{url_for('static', filename='media/further.png')}}" loading="lazy" class="ls-img">	
		</section>
	</section>
	<footer>
		<a href="">&copy Frame Genesis, Février 2023 </a>
	</footer>
	</main>
</body>
</html>