<header>
    <div>
      <img src="{{url_for('static', filename='media/logo(1).svg')}}" class="logo">
    </div>
    <div class="logout">
      <a href="#"><img src="{{url_for('static', filename='media/prize.png')}}" alt="" class="logout-img"></a>
      <a href="{{url_for('connexion')}}"><img src="{{url_for('static', filename='media/logout.png')}}" alt="" class="logout-img"></a>
    </div>
  </header>
  <nav class="navbar">
    <ul>
      <li><a href="javascript:void(0)" class="head-text" id="pers-grh"><img src="{{url_for('static', filename='media/personal_growth.svg')}}" alt="" class="header-img"></a></li>
      <li><a href="javascript:void(0)" class="head-text" id="e-learn"><img src="{{url_for('static', filename='media/e-learning.svg')}}" alt="" class="header-img"></a></li>
      <li><a href="javascript:void(0)" class="head-text" id="thinking"><img src="{{url_for('static', filename='media/critical_thinking.svg')}}" alt="" class="header-img"></a></li>
      <li><a href="javascript:void(0)" class="head-text" id="banking"><img src="{{url_for('static', filename='media/merchant_account.svg')}}" alt="" class="header-img"></a></li>
      <li><a href="javascript:void(0)" class="head-text" id="certificate"><img src="{{url_for('static', filename='media/certificate.svg')}}" alt="" class="header-img"></a></li>
      <li><a href="javascript:void(0)" class="head-text" id="chess"><img src="{{url_for('static', filename='media/rook.svg')}}" alt="" class="header-img"></a></li>
    </ul>
</nav>