<header>
	<div class="logo-img">
			<img src="{{ url_for('static', filename='media/logo.svg') }}" class="logo">
	</div>
		<div class="hamburger-menu">
			<label for="check">
      			<input type="checkbox" id="check"/> 
      			<span></span>
      			<span></span>
      			<span></span>
   			</label>
		</div>
		<div id="nav-bar">
			<div class="translate">
				<input type="image" src="{{url_for('static', filename='media/translate.svg')}}" alt="" class="">
				<select name="" id="">
					<option value="">Français</option>
					<option value="">Anglais</option>
				</select>
			</div>
            <form class="search">
                <input type="search" name="recherche">
            </form>
			<a href="{{url_for('connexion')}}" id="connect">Se connecter</a>
		</div>
</header>
