<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Boutique - frame genesis</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boutique.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script type="text/javascript" src="{{url_for('static',filename='script/animations.js')}}"></script>
    </head>
<body>
    <main>
		{% include 'header.html' %}
	<section class="main-section">
		<section  id="Accueil" class="section-one">
			<div class="section-one-paragraph">
				<div>
					<h1 id="first-heading" class="number-one">Découvrez notre boutique</h1>
				</div>
				<div class="right"></div>
				<div class="section-one-class">
					<p class="first-paragraph">
						Bienvenue dans notre grande boutique en ligne spécialisée dans les <strong>domaines de la science</strong>, <strong>de la technologie</strong> et de <strong>la musique</strong>. 
                        Nous sommes fiers de vous offrir une vaste sélection de <strong>livres de sciences</strong> et de <strong>technologies</strong>, ainsi que des <strong>outils de laboratoire de haute qualité</strong>  
                        pour répondre à tous vos besoins. Que vous soyez passionné par la <strong>biologie</strong>, la <strong>physique</strong>, la <strong>chimie</strong> ou <strong> l'informatique</strong>, 
                        vous trouverez chez nous des <strong>ressources précieuses</strong> pour nourrir <strong>votre curiosité</strong>  et approfondir <strong>vos connaissances</strong>. De plus, nous sommes <strong>ravis</strong> 
                        de vous proposer une <strong>superbe collection d'albums de musiques instrumentales</strong>, de <strong>jazz envoûtant</strong> et d'ambiances <strong>électro captivantes</strong>. Explorez notre site et 
                        laissez-vous inspirer par l'alliance parfaite entre le <strong> savoir</strong> et la <strong></strong>. Bonne découverte !
					</p>
				</div>
				<div class="call-to">
					<a href="{{url_for('main.nouvel_utilisateur')}}" id="inscrip">Explorer</a>
					<a href="{{url_for('main.courses')}}" id="sav">En savoir plus</a>
				</div>
			</div>
			<div>
				<img src="{{ url_for('static', filename='media/market.png')}}" class="hero-img" loading="lazy">
			</div>
		</section>
		<section class="about bank">
			<div>
				<img src="{{url_for('static', filename='/media/cards.png')}}" class="loser-img e-banking" loading="lazy">
			</div>
			<div class="about-paragraph">
				<h1>Achetez librement ...</h1>
				<div class="right"></div>
				<p class="terms-main-text">
					Permettez-nous de vous présenter notre entreprise de fintech révolutionnaire qui transforme la manière dont vous gérez vos finances. Avec notre technologie de pointe et nos solutions innovantes, nous offrons une efficacité inégalée et transformons le paysage financier. Notre plateforme robuste propose une intégration transparente, permettant aux particuliers et aux entreprises de simplifier leurs opérations financières avec facilité. Des outils avancés de budgétisation au traitement sécurisé des paiements, notre suite complète de services garantit une efficacité et un contrôle optimaux. Découvrez la puissance de nos solutions fintech et ouvrez aujourd'hui une nouvelle voie vers le succès financier.
				</p>
				<div class="call-to">
					<a href="{{url_for('main.gift')}}" id="terms-two">Consulter votre solde</a>
					<a href="{{url_for('main.gift')}}" id="terms-link">En savoir plus</a>
				</div>
			</div>
		</section>
	</section>
	{% include 'footer.html' %}
</body>
</html>