<footer>
    <div class="footer-links">
    <a href="">Poste disponible</a>
    <a href="">Politique de Confidentialité</a>
    <a href="">Devenez Instructeur</a>
  </div>
  <div  class="footer-links">
    <a href="">FAQ</a>
    <a href="">Reinitialiser votre compte</a>
  </div>
  <div  class="footer-links">
    <a href="mailto:awesomebss39@gmail.com">Service Client</a>
    <a href="" id="last">&copy Frame Genesis, <strong class="copy">Février 2023</strong></a>
    <div class="trans">
        <input type="image" src="{{url_for('static', filename='media/translate(1).svg')}}" alt="" class="">
        <select name="" id="selection">
            <option value="">Français</option>
            <option value="">Anglais</option>
        </select>
    </div>
  </div>
</footer>