<footer>
  <div class="footer-links">
    <a href="">Mode d'emploi</a>
    <a href="">Reinitialiser votre Mot de passe</a>
    <a href="">FAQ</a>
    <a href="">Emprunter de l'argent</a>
    <a href="">Connecter sa carte</a>
    <a href="">Prix</a>
  </div>
  <div  class="footer-links">
    <a href="">Forum</a>
    <a href="">Politique de Confidentialité</a>
    <a href="">Jeux et Concours</a>
    <a href="">Nos psychologues</a>
    <a href="">Aide financière</a>
    <a href="">Methodes de paiement</a>
  </div>
  <div class="footer-links">
    <a href="">Service client</a>
    <a href="">Nouveautés</a>
    <a href="">Bourses et cryptommonnaie</a>
    <a href="">Methodes d'investissement</a>
    <a href="">Modalités et intérêts</a>
    <a href="">Partenaires</a>
  </div>
  <div  class="footer-links">
    <p></p>
    <a href="" id="last">&copy ekki finance 2023</a>
    <a href="" id="last">&copy Neurogames 2023</a>
    <a href="" id="last">&copy Orbitex 2023</a>
    <a href="">
      <div class="flags-col">
        <img src="{{url_for ('static', filename='/media/france.svg')}}" alt="" class="flags">
        <img src="{{url_for ('static', filename='/media/great_britain.svg')}}" alt="" class="flags">
      </div>
    </a>
</footer>