<footer>
	<div class="footer-links">
		<a href="{{url_for('main.hypertext')}}">HTML5 & CSS3</a>
		<a href="{{url_for('main.Javascript')}}">JAVASCRIPT</a>
		<a href="{{url_for('main.MATLAB')}}">MATLAB</a>
		<a href="{{url_for('main.Bootstrap')}}">BOOTSTRAP</a>
	</div>
	<div  class="footer-links">
		<a href="{{url_for('main.quantum')}}">PHYSIQUE QUANTIQUE</a>
		<a href="{{url_for('main.relativity')}}">RELATIVITE RESTREINTE</a>
		<a href="{{url_for('main.differential_equations')}}">EQUATIONS DIFFERENTIELLES</a>
		<a href="{{url_for('main.logarithmic_functions')}}">FONCTIONS LOGARITHMES</a>
	</div>
	<div  class="footer-links">
		<a href="{{url_for('main.équipe')}}">EQUIPE</a>
		<a href="mailto:genesisframe24@gmail.com">NOUS CONTACTER</a>
		<a href="{{url_for('main.livres')}}">BIBLIOTHEQUE & BLOG</a>
		<a href="{{url_for('main.psy')}}">BILAN PSYCHOLOGIQUE</a>
		<div class="trans">
			<input type="image" src="{{url_for('static', filename='media/translate(1).svg')}}" alt="" class="">
			<select name="" id="selection">
				<option id="french">Français (France)</option>
				<option id="English">Anglais (UK)</option>
			</select>
		</div>
		<a href="" id="last">&copy Frame Genesis, <strong class="copy">Février 2023</strong></a>
	</div>
</footer>