<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue {{username}}! - frame genesis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/utilisateur.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='script/animations.js')}}"></script>
  </head>
  <body>
    {% include 'header_util.html' %}
   <main>
		<section class="bilan-hidden">
			<h1>Hello world!</h1>
	  	</section>
   </main>
    {% include 'footer.util.html' %}
  </body>
</html>
